<ion-header margin-top>
  <ion-navbar padding-top>
    <ion-buttons *ngIf="!isUserProfile" start>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
    <ion-title>@{{user.username}}</ion-title>
    <ion-buttons *ngIf="isUserProfile" (click)="signout()" right>
      <button ion-button>
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-row>
      <ion-col col-6>
        <ion-row><img [src]="user.avatar" class="avatar"></ion-row>
        <ion-row><rating [rating]="user.rating"></rating></ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row class="username">@{{user.username}}</ion-row>
        <ion-row class="nickname-bio">{{user.nickname}}</ion-row>
        <ion-row class="nickname-bio">{{user.bio}}</ion-row>
        <ion-row class="edit-button" *ngIf="isUserProfile">
          <button ion-button small color="light" (click)="goToEditProfile()">Edit Profile</button>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="container">
        <ion-col class="count-bar-item">2 <br/> Friends</ion-col>
        <ion-col class="count-bar-item">{{partiesHosted.length}} <br/> Hosted</ion-col>
        <ion-col class="count-bar-item">{{parties.length}} <br/> Attended</ion-col>
      </div>
    </ion-row>
  </div>
  <ion-list>
    <span *ngIf="parties.length === 0">This user isn't poppin :(</span>
    <ion-item *ngFor="let party of parties">
      <party-story [party]="party"></party-story>
    </ion-item>
  </ion-list>
</ion-content>
