profile {
  .username{
      font-size: 18px;
      font-weight: bold;
  }
  .nickname-bio{
      font-size: 18px;
      padding-top: .5rem;
  }
  .count-bar-item{
      padding: 2.5rem;
      padding-top: .5rem;
      padding-bottom: 1.5rem;
      font-size: 18px;
  }
  .edit-button{
      padding-top: .5rem;
  }
  ion-content{
      overflow: auto;
  }
  .item {
      padding-left: 0;
  }
  .container{
      display: flex;
      text-align: center;
  }
  .people{
      margin-left: auto;
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
  }

  rating .star {
    font-size: 2.5rem;
  }

}

