profile {
  .logout {
    ion-icon {
      font-size: 2.3rem;
    }
  }

  .username {
    font-size: 18px;
    font-weight: bold;
  }
  .nickname-bio {
    font-size: 18px;
    padding-top: .5rem;
  }
  .count-bar-item {
    padding: 2.5rem;
    padding-top: .5rem;
    padding-bottom: 1.5rem;
    font-size: 18px;
  }
  .action button {
    width: 100%;
    font-size: 1.4rem;
  }
  .edit-button {
    padding-top: .5rem;
  }
  ion-content {
    overflow: auto;
  }
  .item {
    padding-left: 0;
  }
  .container {
    display: flex;
    text-align: center;
  }
  .people {
    margin-left: auto;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }

  rating .star {
    font-size: 2.5rem !important;
  }

}

