<ion-header>
  <ion-navbar>
    <ion-buttons *ngIf="!isProfilePage" start>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
    <ion-title>@{{user.username}}</ion-title>
    <ion-buttons *ngIf="isProfilePage" (click)="signout()" right>
      <button class="logout" ion-button>
        Logout&nbsp;&nbsp;
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-row>
      <ion-col col-6>
        <ion-row><img [src]="user.avatar" class="avatar"></ion-row>
        <ion-row><rating [rating]="user.rating"></rating></ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row class="username">@{{user.username}}</ion-row>
        <ion-row class="nickname-bio">{{user.nickname}}</ion-row>
        <ion-row class="nickname-bio">{{user.bio}}</ion-row>
        <ion-row class="action">
          <button *ngIf="(isProfilePage || isUserProfile) else isNotUserProfile" (click)="goToEditProfile()" class="edit-button" color="light" ion-button>Edit Profile</button>
          <ng-template #isNotUserProfile>
            <button *ngIf="(hasAskedToFriend$ | async) else hasNotAskedToFriend" (click)="acceptFriendRequest()" ion-button>Accept Friend Request</button>
            <ng-template #hasNotAskedToFriend>
              <button *ngIf="(isPendingFriendRequest$ | async) else isNotPendingFriendRequest" color="light" ion-button disabled>Sent Friend Request</button>
              <ng-template #isNotPendingFriendRequest>
                <button *ngIf="!(isFriendOfCurrentUser$ | async)" (click)="sendFriendRequest()" ion-button>Send Friend Request</button>
                <button *ngIf="(isFriendOfCurrentUser$ | async)" (click)="unfriend()" color="danger" ion-button>Unfriend</button>
              </ng-template>
            </ng-template>
          </ng-template>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="container">
        <ion-col class="count-bar-item" (click)="goToFriendsList()">{{friends.length}} <br/> Friends</ion-col>
        <ion-col class="count-bar-item">{{partiesHosted.length}} <br/> Hosted</ion-col>
        <ion-col class="count-bar-item">{{parties.length}} <br/> Attended</ion-col>
      </div>
    </ion-row>
  </div>
  <div>
    <hr />
    <span *ngIf="parties.length === 0">This user isn't poppin :(</span>
    <party-story *ngFor="let party of parties" [party]="party"></party-story>
  </div>
</ion-content>
