<ion-content [ngSwitch]="state" padding margin-top>
  <h1>Match!</h1>
  <div *ngSwitchCase="'lobby'">
    <button ion-button full (click)="startGame()">Start Game</button>
  </div>
  <div *ngSwitchCase="'starting'">
    <p>Starting The Game...</p>
    <div *ngIf="chosen">
      <h2>You've been chosen</h2>
      <button ion-button full (click)="goToUpload()">Upload</button>
    </div>
  </div>
  <div *ngSwitchCase="'started'">
    <img [src]="matchLink" />
    <div *ngIf="!chosen">
      <h2>Go Find Them</h2>
      <button (click)="scanQR()" ion-button>Scan QR</button>
    </div>
    <div *ngIf="chosen">
      <h2>Once someone finds you, have them scan your QR</h2>
      <ngx-qrcode [qrc-value]="user.id.toString()"></ngx-qrcode>
    </div>
  </div>
  <div *ngSwitchCase="'ended'">
    <h2>Game Ended!</h2>
  </div>
</ion-content>
