page-login {
  .center {
    top: 38%;
  }

  .title {
    font-family: 'Norican', cursive;
    font-size: 9rem;
    color: #f9f9f9;
    font-weight: bolder;
    margin-bottom: 40px;
  }

  .login {
    font-size: 'Lato', sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    font-size: 2.2rem;
    font-weight: 700;
    padding: 20px;
  }
}
