page-search {
  ion-content, .scroll-content {
    padding: 16px 20px !important;
  }

  .search {
    padding: 6px 8px !important;
  }

  .party {
    .item-inner {
      padding-right: 0 !important;
    }
    .label {
      margin-right: 0 !important;
    }

    .name {
      font-size: 2rem;
    }

    .star, .user-count {
      font-size: 2.4rem;
    }

    .lock {
      font-size: 2.2rem;
      margin-left: 7px;
    }

    button {
      width: 61px;
    }
  }
}
