// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// UTILS
.w-auto {
  width: auto;
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.overflow-hidden {
  overflow: hidden;
}

.flex-1 {
  flex: 1;
}

.obj-cover {
  object-fit: cover;
}

.center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

// Gradients
$blue: color($colors, blue);
$blue-violet: color($colors, blue-violet);
$red-violet: color($colors, red-violet);

@keyframes BackgroundGradient {
  0%, 100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}

@keyframes ColorGradient {
  0%, 85% {
    color: $blue;
  }
  20% {
    color: $blue-violet;
  }
  50% {
    color: $red-violet;
  }
}

.bg-gradient {
  background: linear-gradient(-270deg, $blue, $blue-violet, $red-violet) !important;
  background-size: 500% 500% !important;
  animation: BackgroundGradient 9s ease infinite !important;
}

.col-gradient {
  color: $blue;
  animation: ColorGradient 9s ease infinite;
}

// MISC
.avatar {
  object-fit: cover;
  border-radius: 100%;
}

.star:not(.star--empty) {
  color: gold;
}

// OVERRIDE
.toolbar-background, .tabbar {
  @extend .bg-gradient;
  animation: BackgroundGradient 12s ease-in-out infinite;
}
.toolbar-title, .bar-button {
  color: #f8f8f8;
}
.bar-button * {
  font-weight: 600;
}
ion-content, .item {
  background-color: #fafafa !important;
  .card {
    background-color: #fefefe !important;
  }
}

// FIX
.ios ion-nav > .ion-page ion-header > .toolbar.statusbar-padding:first-child,
.ios ion-tab > .ion-page ion-header > .toolbar.statusbar-padding:first-child,
.ios ion-tabs > .ion-page.tab-subpage ion-header > .toolbar.statusbar-padding:first-child,
.ios ion-menu > .menu-inner ion-header > .toolbar.statusbar-padding:first-child {
	padding-top: calc(20px + 4px);
  min-height: calc(44px + 20px);
}

.ios ion-nav > .ion-page  ion-header > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-nav > .ion-page  ion-header > .toolbar.statusbar-padding:first-child ion-title,
.ios ion-tab > .ion-page  ion-header > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-tab > .ion-page  ion-header > .toolbar.statusbar-padding:first-child ion-title,
.ios ion-tabs > .ion-page.tab-subpage  ion-header > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-tabs > .ion-page.tab-subpage  ion-header > .toolbar.statusbar-padding:first-child ion-title,
.ios ion-menu > .menu-inner ion-header > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-menu > .menu-inner ion-header > .toolbar.statusbar-padding:first-child ion-title {
	padding-top: 20px;
  height: calc(44px + 20px);
  min-height: calc(44px + 20px);
}
