page-party {
   .chat-message {
      width: 80%;
      min-height: 40px;
      position: absolute;
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      background: lightblue;
      border: 35px solid transparent;
      border-right: 0;
      margin-top: -35px;
      margin-right: -35px;
    }
      span.msg-name {
        font-size: 12px;
        font-weight: bold;
        color: black;
      }
}
