<ion-card class="party">
  <ion-card-header>
    <div class="header d-flex">
      <h1 class="truncate" no-margin>{{party.name}}</h1>
      <span>{{getPartyStartDate(party.start_time)}}</span>
    </div>
    <rating [rating]="party.rating" class="party__rating"></rating>
    <button (click)="goToParty(party)" ion-button>Go</button>
  </ion-card-header>
  <ion-card-content class="d-flex">
    <div *ngFor="let media of party.media | slice:0:3; index as i" class="party__media">
      <img (click)="openMedia(i)" [src]="media.link" alt="media.caption" />
    </div>
  </ion-card-content>
</ion-card>
