<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="viewCtrl.dismiss()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="d-flex">
    <button (click)="takePhoto()" color="primary" class="w-50" ion-button large>Take Photo</button>
    <button (click)="getPhoto()" color="orange" class="w-50" ion-button large>Get Image</button>
  </div>
  <div *ngIf="dataUri">
    <img [src]="dataUri" width="300" />
    <button (click)="upload()" ion-button large>Upload</button>
  </div>
</ion-content>
