page-party {
    .chat-message {
      position: relative;
      float: right;
      margin-right: 30px;
      width: 150px;
      min-height: 40px;
      border-radius: .4em;
      border-bottom-right-radius: 2px;
      background-color: lightblue;
      padding-left: 4px;
      padding-top: 6px;
      padding-bottom: 8px;
      padding-right: 6px;
    }
    .text{
      font-weight: bold;
      color: black;
      text-align: left;
    }
      span.msg-name {
        font-size: 12px;
        float: right;
      }
}
