<ion-header>
  <ion-navbar>
    <ion-title (click)="getPartyInfo()">{{party.name}}</ion-title>
    <ion-buttons right>
      <button (click)="goToRate()" class="star"><ion-icon name="star"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<div *ngIf="isHost" >
  <ion-menu [content]="partyContent" type="overlay" side="right">
    <party-sidebar [party]="party" ></party-sidebar>
  </ion-menu>
</div>

<ion-content padding #partyContent>
  <div ion-list class="list">
    <ion-item *ngFor="let message of messages" no-lines>
      <div class="right-bubble" *ngIf="message.user_id == user.id">
        <p text-wrap class="message">{{message.text}}</p>
        <span class="msg-name">{{user.username}}</span>
      </div>
      <div class="left-bubble" *ngIf="message.user_id != user.id">
        <p text-wrap class="message">{{message.text}}</p>
        <span class="msg-name">{{message.username}}</span>
      </div>
    </ion-item>
  </div>
</ion-content>

<ion-footer class="d-flex chat">
  <ion-textarea [(ngModel)]="message" class="w-80" placeholder="Send Chat"></ion-textarea>
  <button (click)="onSend()" class="w-auto" ion-button clear>
    <ion-icon name="send"></ion-icon>
  </button>
  <button (click)="goToUpload()" class="w-auto" ion-button clear>
    <ion-icon name="camera"></ion-icon>
  </button>
</ion-footer>
