<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button (click)="viewCtrl.dismiss()" ion-button>Close</button>
    </ion-buttons>
    <ion-title>Create Game</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" loop="true">
    <ion-slide *ngFor="let game of games" [ngClass]="game.name" class="game">
      <div [ngSwitch]="game.name" class="icon">
        <span *ngSwitchCase="'match'">🔎</span>
        <span *ngSwitchCase="'hot'">🔥</span>
      </div>
      <h1 class="title">
        {{game.title}}
      </h1>
      <p class="desc">{{game.description}}</p>
      <button (click)="create(game.name)" class="create" ion-button outline large>Create</button>
    </ion-slide>
  </ion-slides>
</ion-content>
